extends layout

block content
  h1 WebCam Emotional Meter
  div.holders
    canvas#photo(width='320' height='240')
    div#feedback
    video#camera(width='320' height='240')
  div
    button#sendbutton Analyze Image
  
  
  
 