extends layout

block content
  h1 WebCam Emotional Meter
  div.holders
    canvas#photo(width='320' height='240')
    img#photoimg(width='320' height='240')
    div.buttonholder
        button#sendbutton Analyze Image

    video#camera(width='320' height='240')
    div#feedback

  
  
  
 